<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.espe.sarcapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.espe.sarcapp.CursosActivity"
            android:label="@string/cursos"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.espe.sarcapp.CSVReaderActivity"
            android:label="@string/crear_curso_form"
            android:parentActivityName="com.espe.sarcapp.CursosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.espe.sarcapp.CursosActivity" />
        </activity>
        <activity
            android:name="com.espe.sarcapp.form_curso.CursoFormActivity"
            android:label="@string/crear_curso_form"
            android:parentActivityName="com.espe.sarcapp.CSVReaderActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.espe.sarcapp.CSVReaderActivity" />
        </activity>
    </application>
</manifest>
